body, html {
    height: 100%;
     background-image: url("../img/background.jpg");
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    color: rgba(255, 255, 255, 0.6);
  }
  a{
    text-decoration: none;
    font-weight: bold;
    color: rgba(147,186,147,0.5);
  }
  * {
    box-sizing: border-box;
  }
  .firefly {
      width: 2px;
      height: 2px;
      background: yellow;
      border-radius: 50%;
      box-shadow: 0 0 0 5px rgba(154, 205, 50, 0.4);
      overflow: hidden;
  }
  .content{
    position: relative;
    z-index: 99;
  }
  .intro{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
  }
  .intro-pic{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin: 0 auto;
  }
  .canvas{
    position: fixed;
    top: 0;
    left: 0;
    display: table;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0);
    z-index: 1;
  }
  .btns{
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 0px 0px 5px 0px rgba(147,186,147,0.2);
  }