body{
    margin: 0;
    padding: 0;
    /* position: fixed; */
    background-image: url('../img/background.jpg');
    background-size: contain;
    color: rgba(255, 255, 255, 0.6);
}

canvas {
    filter: blur(1px);
    z-index: 1;
}
.content{
    z-index: 10;
}
.intro{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
}
.intro-pic{
    margin: 0 auto;
    width: 200px;
    height: 200px;
    border-radius: 100px;
}