body, html {
    height: 100%;
     background-image: url("../img/background.jpg");
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    color: rgba(255, 255, 255, 0.6);
  }
  
  * {
    box-sizing: border-box;
  }
  .firefly {
      width: 2px;
      height: 2px;
      background: yellow;
      border-radius: 50%;
      box-shadow: 0 0 0 5px rgba(154, 205, 50, 0.4);
      overflow: hidden;
  }
  .intro{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
  }
  .intro-pic{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin: 0 auto;
  }